$color-black: black;
$color-primary: #34547a;
$color-gray-light: #eeeff1;
$color-white: white;
$color-secondary: #727272;
$font-size: 16px;
$font-size-md: 14px;
$font-size-sm: 10px;
$font-size-description: 12px;
$font-family: "Roboto", sans-serif;
$letter-spacing: 0.1em;
$line-height: 1.64;
$container-primary: 1110px;
$container-sec: 540px;
$gap: 20px;
$gap-sm: 10px;
$gap-md: 30px;
$gap-lg-sm: 35px;
$gap-lg: 40px;

$ul: 1399.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 479.98px;
$xx: 419.98px;
$ux: 359.98px;
